config ZMK_INPUT_PROCESSOR_MOVEMENT_THRESHOLD
  bool "Movement threshold filter input processor"
  depends on ZMK_POINTING
  default y if DT_HAS_ZMK_INPUT_PROCESSOR_MOVEMENT_THRESHOLD_ENABLED

config ZMK_INPUT_PROCESSOR_MOVEMENT_DROP
  bool "Movement drop input processor"
  depends on ZMK_POINTING
  default y if DT_HAS_ZMK_INPUT_PROCESSOR_MOVEMENT_DROP_ENABLED

config ZMK_INPUT_PROCESSOR_MOVEMENT_SUSTAIN
  bool "Sustained movement filter input processor"
  depends on ZMK_POINTING
  default y if DT_HAS_ZMK_INPUT_PROCESSOR_MOVEMENT_SUSTAIN_ENABLED
